<script type="application/json" id="tags_json" >
  <%= Tag.all.to_json.html_safe %>
</script>

<%= File.read("./app/views/secrets/_tag_select.html").html_safe %>


<%= form_for(@secret,
						:url => user_secrets_url(@user),
						:remote => true,
						:html => { :class => "secret_form"}
						) do |f| %>
	<%= f.label :title, "Secret" %>
	<%= f.text_field :title %>

	<div class="tag_selects">

	</div>
	<a href="#" id="add_tag">Add Another Tag</a>
	<br>
	<%= f.submit %>

<% end %>

<script type="text/javascript">
	var tagObjects = JSON.parse($("#tags_json").html());
	var templateCode = $("#tag_select").html();

	var templateFn = _.template(templateCode);
	var renderedTemplateContent = templateFn({ tagObjects: tagObjects});


	$(".tag_selects").html(renderedTemplateContent);

	$("a").click(function() {
		$(".tag_selects").append($("<div>").html(renderedTemplateContent));
	})

</script>